.about {
    color: darkolivegreen;
    text-align: center;
    font-family: "Copperplate Gothic Light";
}
a {
    text-decoration: deepskyblue;
}
.Homer {
    color: blue;
    text-align: -moz-center;
    font-family: "Arial Rounded MT Bold";
}